@import url(colors.css);

/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

GENERAL

*/



body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

img{
    max-width: 100%;
}

/*

HEADER

*/
header{
    background-color: #0084FF;
    padding: 10px 0;
}

.header-main-content{
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: none;
}

.hamburger{
    padding: 10px 0;
    color: white;
}

.fa-bars{
    color: white;
    font-size: 1.5em;
}



/*

MAIN

*/

main section{
    padding: 40px 0;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card{
    width: calc(100% - 20px);
    margin: 0 10px 20px;
}

.card > div{
    padding: 10px;
}

.card-main-content{
    background-color:#AEDAFF
 
}

.image-card{
    text-align: center;
}

.image-phone{
    width: 50%;
} 

.text-card h3{
    color: #0084FF;
    text-align: left;
}

.text-card p{
    text-align: left;
    padding:20px 30px;
}

.button-blue-container{
    text-align: center;
}

.button-blue{
    background-color: #0084FF;
    border-color: #0084FF;
    border-radius: 40px;
    padding: 5px 30px;
    color: white;
    
}

.card-main-content h3, .fa-solid{
    text-align: center;
    color: #0084FF;
}

.icon{
    text-align: center;
}




.card-main-content p{
    text-align: center;
}





.secondary-color{
    background-color: #9792E4;
}

.secondary-color-light{
    background-color: #BEBAEE;
}

.neutral-color{
    background-color: white;
}

.planning-development > div:first-child{
    margin-bottom: 20px;
}

.planning > div:last-child{
    color: white;
}

.testimonials-header{
    text-align: center;
}

.testimonial{
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial img{
    padding: 10px;
}

.testimonial .testimonial-img{
    width: 150px;
    height:150px ;
    flex-shrink: 0;
    margin: 0 auto;
}

.testimonial .testimonial-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial .testimonial-content{
   flex-grow: 1;
}


.about-us{
    margin-bottom: 20px;
}

.white{
    color: white;
}

.alternative-content h3, h4{
    color: #9792E4;
}

.alternative-content{
    text-align: left;
}

.button-violet{
    background-color: #9792E4;
    padding: 5px 20px;
    color: white;
    border-radius: 40px;
    border-color: #9792E4;
}

.find-me p{
    color: #9792E4;
}



/*

FOOTER

*/

.top-footer{
    text-align: center;
}

.white-button-container{
    text-align: center;
}

.top-footer > *{
    color: white;
}


.top-footer h2{
    color: darkorange;
}

.white-button{
    background-color: white;
    color: #9792E4;
    padding: 20px 40px;
    border-radius: 40px;
    border-color: white;
}

.black-color{
    background-color: black;
}

.bottom-footer{
    color: white;
}

.bottom-footer p a{
    color: #9792E4;
    text-align: center;
}

.bottom-footer{
    text-align: center;
}


/******************************

RESPONSIVE

*****************************/

/*

TABLET

*/

@media screen and (min-width:768px){
    /*

    HEADER FOR TABLET

    */


    /*

    MAIN FOR TABLET

    */

.card{
    width: calc((100% / 3) - 20px);
   
}

.card:first-child{
    width: calc(((100% / 3) * 2) - 20px);
    
}


.secondary-color .cards .card{
    width: calc((100% / 2) - 20px);
}

.testimonial{
    display: flex;
    align-items: center;
    text-align: left;
}



.testimonial .testimonial-img{
    width: 200px;
    height: 200px;
    padding-right: 10px;
}

.testimonial .testimonial-content{
    padding: 0 20px;
}

.about-us-and-find-me{
    display: flex;
}

.about-us{
    width: 70%;
    margin-bottom: 0;
}

.find-me{
    width: 30%;
}



    /*

    FOOTER FOR TABLET

    */
}


/*

DESKTOP

*/

@media screen and (min-width:992px){
    /*

    HEADER FOR DESKTOP

    */
    .hamburger{
        display: none;
    }

    .nav-container{
        display: block;
    }

    .header-main-content .nav-container ul li {
        display: inline-block;
    }

    .header-main-content .nav-container ul li a {
        text-decoration: none;
        color: white;
        padding: 10px;

    }

    .nav-container ul{
        padding: 10px 0;
    }

    .button{
        padding: 5px;
        border-radius: 40px;
        border-color: white;
    }
    

    /*

    MAIN FOR DESKTOP

    */
    .card-main-content:first-child{
        display: flex;
    }

    .card-main-content:first-child > div{
        width: calc(100% / 2);
    }

    .planning-development{
        display: flex;
        align-items: flex-end;
        padding: 0 50px;
    }

    .planning-development > div{
        width: 50%;
        padding: 20px;
    }

    .planning-development > div:first-child{
       margin-bottom: 0;
    }

    .secondary-color .cards .card{
        width: calc((100% / 3) - 20px);
    }

    .about-us-and-find-me{
        display: flex;
    }

    .about-us{
        width: 80%;
       padding-right: 40px; ;
    }

    .find-me{
        width: 20%;
    }

    /*

    FOOTER FOR DESKTOP

    */
}


/*

DEBUG

*/

.debug{

}